html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,strong,ul,li,fieldset,form,label {
  background:transparent;
  border:0;
  font-size:100%;
  margin:0;
  padding:0;
  vertical-align:baseline;
}

body {
  color:#222;
  font-family:'lucida grande', 'Segoe UI', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;
  font-size:10px;
}

#container {
  width: 1010px;
  margin: auto;
}

h1 {
  font-size: 20px;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

h1 span {
  font-size: 10px;
  color: #aaa;
}

/*
h1,h2,strong,a {
font-style:inherit;
font-weight:inherit;
text-decoration:none;
}

input,textarea {
font:inherit;
}

input::-moz-focus-inner {
border:0;
margin:0;
padding:0;
}

#container {
margin:auto;
width:800px;
}

#main {
background-color:#f5f5f5;
overflow:hidden;
padding:10px 0;
position:relative;
}

a {
color:#1f75cc;
}

a:hover {
text-decoration:underline;
}

strong {
font-weight:700;
}

div.info {
position:absolute;
right:10px;
top:15px;
}

h1 {
color:#1f75cc;
font-size:12pt;
font-weight:700;
padding:5px 0 15px 15px;
}

h2 {
color:#1f75cc;
font-size:10pt;
font-weight:700;
padding:5px 15px 0 15px ;
}

h3 {
color:#1f75cc;
font-size:10pt;
font-weight:700;
padding:5px 0 ;
}

h4 {
color:#1f75cc;
font-size:8pt;
font-weight:700;
}



h1 span {
color:#aaa;
font-size:6pt;
}

form {
padding:20px;
}

fieldset label {
float:left;
padding:6px;
text-align:right;
width:100px;
}

fieldset textarea {
border:1px solid #ccc;
float:left;
padding:3px;
height:150px;
width:750px;
}

form .actions {
padding-bottom:10px;
padding-top:10px;
overflow:hidden;
}

form .actions input {
-webkit-border-radius:4px;
background-color:#4e4e4e;
border:none;
color:#f2f2f2;
float:right;
padding:5px 10px;
}

#foot {
color:#aaa;
font-size:8pt;
padding:10px 15px;
}

#foot a {
font-size:8pt;
}

#foot p.copy {
float:right;
text-align:right;
width:250px;
padding-bottom: 20px;
}

#more {
float:left;
line-height:11pt;
width:400px;
}

#more a {
color:#bbb;
}

#more a:hover {
color:#555;
}

#howto ul {
line-height:15px;
padding-left:20px;
}

#howto ul li {
list-style:decimal;
}

div.radio {
  float: left;
  width: 600px;
}

div.radio label {
  float: left;
  padding: 4px 27px 4px 4px;
  /*width: 60px;*
}

div.radio input {
  float: left;
}


#menu li {
  list-style: none;
  float: left;
  width: 370px;
  margin: 0 15px 5px 15px;
}

#menu li a {
  display: block;
  text-align: center;
  padding: 20px 0;
  background-color: #eee;
  font-size: 11pt;
}


table {
  border-collapse: collapse;
}
table td, table th {
  border: none;
  padding: 3px 3px 0 0;
}
table td input {
  border:1px solid #ccc;
  padding:3px;
  width:200px;
}

table td.avg {
  text-align: center;
  color:#1f75cc;
  font-size:11pt;
  font-weight:700;
  padding: 10px;
}

table th.name { text-align: left; }

table td.name input { width: 250px; }
table td.ects input { width: 50px; text-align: center; margin: 0 0 0 5px;}
table td.grade input { width: 50px; text-align: center; margin: 0 0 0 5px; }
table td.name a { color: red;}
table td.name a.f { color: #f5f5f5;}
input.add {
-webkit-border-radius:4px;
background-color:#4e4e4e;
border:none;
color:#f2f2f2;
padding:5px 10px;
}

.error {
  padding: 15px;
}
.error ul {
  padding-bottom: 10px;
}
#examples {
  padding-bottom: 15px;
  overflow: hidden;
}
#examples a {
  display: block;
  width: 235px;
  height: 150px;
  float: left;
  border: 5px solid #ddd;
  margin-bottom: 20px;
  margin-left: 10px;
  background-position: center center;
}
#examples a.first {
  margin-left: 0px;
}

#pmore {
    margin-bottom: 10px;
}

#pmore td.name input {
    width: 145px;
}

#pmore td.building input {
    width: 40px;
}

#advanced {
    display: none;
    overflow: hidden;
}

#colors {
    float:left;
    width: 400px;
}

#colors div {
    float: left;
    width: 170px;
    background: #eee;
    padding: 10px;
    margin: 0;
    margin-bottom: 10px;
}

#colors div.o {
    margin-right: 10px;
}

#colors h5 {
    font-size: 11pt;
}

#colors div h6 {
    font-size: 10pt;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

#colors div p {
    overflow: hidden;
}

#colors div label {
    float: left;
    width: 100px;
}

#colors div input {
    float: left;
    width: 60px;
}

#picker-wrap {
    float: right;
}

/* --- entry --- *

.entry {
/*  background: #BFE4FF;*
}*/

h2 {
  font-size: 15px;
  padding: 5px 0;
}

.schedule-menu {
  overflow: hidden;
  padding-bottom: 10px;
}

.schedule-menu a {
  float: right;
  font-size: 15px;
  padding-left: 10px;
}

#schedule .entry a {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  overflow: hidden;
  text-indent: -200px;
  height: 10px;
  background: url("http://facebook.mobissimo.com/images/ico-edit.png");
  visibility: hidden;
}

#schedule .entry:hover a {
  visibility: visible;
}

#schedule .entry .wrap {
  position: relative;
}

#schedule-overlay {
  position: absolute;
  width: 943px;
  height: 752px;
  z-index: 100;
  background: rgba(255,255,255,0.7) url("http://assets.teamon.eu/facebox/loading.gif") no-repeat 20px 20px;
  font-size: 20px;
  color: #555;
  padding: 22px 0 0 60px;
  display: none;
}

#exports {
  display: none;
}

.exports ul {
  list-style: none;
  overflow: hidden;
  width: 400px;
}

.exports li {
  float: left;
  margin: 10px;
}

.exports li a {
  background-color: #BFE4FF;
  text-align: center;
  display: block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 13px;
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
.exports li a:hover {
  background-color: #AED3EE;
}

#foot {
  padding: 10px 0;
  color: #aaa;
  text-align: center;
}

#foot a {
  color: #888;
}




#facebox form p.location input {
  text-align: center;
  width: 40px;
}

#facebox form p {
  overflow: hidden;
  padding: 2px 0;
}

#facebox form label {
  float: left;
  width: 70px;
  text-align: right;
  padding: 5px 5px 0 0;
}

#facebox form input[type="text"] {
  float: left;
  border: 1px solid #ccc;
  padding: 3px 5px;
  width: 250px;
}
#facebox form select {
  float: left;
}

#facebox form span {
  float: left;
  padding: 5px 5px 0 5px;
}

#facebox form p.actions {
  text-align: center;
}

#facebox form input[type="submit"] {
  border: 1px solid #204683;
  background: #5E75A0;
  color: #fff;
}

#facebox form a.cancel,
#facebox form a.custom {
  color: #555;
  padding: 0 4px;
}

#facebox form a.delete {
  color: #a00;
  padding: 0 4px;
}

#facebox h3 {
  font-size: 15px;
  padding-bottom: 5px;
}

#facebox .form-notice {
  background-color: #BFE4FF;
  text-align: center;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 120px;
  width: 200px;
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
}

#facebox .form-errors {
  background-color: #F3B6B7;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
  list-style: none;
}

#facebox textarea#raw {
  width: 550px;
  height: 200px;
}

#facebox .settings {
  width: 600px;
  overflow: hidden;
}

#facebox .settings .schemes {
  width: 340px;
  float: left;
  overflow: hidden;
}


#facebox .color-scheme {
  width: 150px;
  float: left;
  background-color: #f5f5f5;
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
}


#facebox .color-scheme input[type="text"] {
  width: 50px;
}

#picker-wrap {
  float: right;
  padding-right: 20px;
}

#picker-wrap h6 {
  margin-top: 30px;
}

#picker-wrap ul.menu {
  list-style: none;
}

#picker-wrap ul.menu li {
  padding: 5px 0 0 0;
}

a.button {
  border: 1px solid #204683;
  background: #5E75A0;
  color: #fff;
  text-decoration: none;
  padding: 2px 4px;
  display: inline-block;
  width: 70px;
  text-align: center;
}