html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,strong,ul,li,fieldset,form,label {
  background:transparent;
  border:0;
  font-size:100%;
  margin:0;
  padding:0;
  vertical-align:baseline;
}

body {
  color:#222;
  font-family: 'lucida grande', 'Segoe UI', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;
  font-size:10px;
}

#container {
  width: 1010px;
  margin: auto;
  position: relative;
}

h1 {
  font-size: 25px;
  font-weight: normal;
  padding-top: 10px;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

h1 span {
  font-size: 10px;
  color: #aaa;
}

body.home {
  background-color: #eee;
  padding-top: 30px;
}

body.home #main {
  width: 540px;
  background-color: #fff;
  padding: 30px;
  position:relative;
}

body.home #container {
  width: 600px;
}

body.home h1 {
  padding-top: 0;
}

.button a {
  background-color: #BFE4FF;
  text-align: center;
  display: block;
  font-size: 15px;
  padding: 20px 0;
  text-decoration: none;
  font-weight: bold;
  color: #333;
  width: 300px;
  margin: auto;
  margin-top: 30px;
}

.button a:hover {
  background-color: #AED3EE;
}

#examples {
  overflow: hidden;
  list-style: none;
}

#examples li {
  float: left;
  width: 163px;
  height: 150px;
  border: 5px solid #ddd;
  margin-bottom: 20px;
  margin-left: 10px;
}

#examples li:first-child {
  margin-left: 0;
}

#examples li a {
  display: block;
  width: 163px;
  height: 150px;
}

.home h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.howto, .howto ul {
  font-size: 9pt;
  line-height: 15pt;
  padding-left: 20px;
}

.info {
  font-size: 9pt;
  padding-top: 20px;
}

#info {
  float: left;
  padding: 10px 0 0 20px;
}

#info span {
  padding-right: 20px;
}

.head {
  overflow: hidden;
  padding-bottom: 5px;
}

.head h2 {
  float: left;
}

.head .schedule-menu {
  float: right;
}

.address {
  padding: 15px 0;
}

#schedule_url {
  width: 250px;
  border: 1px solid #ccc;
  padding: 3px 5px;
}

#facebook {
  position: absolute;
  right: 20px;
  top: 30px;
}

#fb-root {
  padding-top: 20px;
}


h2 {
  font-size: 15px;
  padding: 5px 0;
}

.schedule-menu {
  overflow: hidden;
  padding-bottom: 10px;
}

.schedule-menu a {
  float: right;
  font-size: 15px;
  padding-left: 10px;
}

#schedule-wrap {
  height: 770px;
}

#schedule .entry a {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  width: 10px;
  overflow: hidden;
  text-indent: -200px;
  height: 10px;
  background: url("/images/ico-edit.png") no-repeat 5px 5px;
  visibility: hidden;
  z.index: 98;
}

#schedule .entry .wrap:hover a {
  visibility: visible;
}

#schedule .entry .wrap {
  position: relative;
  z-index: 100;
}

#schedule-overlay {
  position: absolute;
  width: 943px;
  height: 752px;
  z-index: 100;
  background: rgba(255,255,255,0.7) url("http://assets.teamon.eu/facebox/loading.gif") no-repeat 20px 20px;
  font-size: 20px;
  color: #555;
  padding: 22px 0 0 60px;
  display: none;
}

#exports {
  display: none;
}

.exports ul {
  list-style: none;
  overflow: hidden;
  width: 400px;
}

.exports li {
  float: left;
  margin: 10px;
}

.exports li a {
  background-color: #BFE4FF;
  text-align: center;
  display: block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 13px;
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
.exports li a:hover {
  background-color: #AED3EE;
}

.exports li span a {
  height: 35px;
  line-height: 35px;
}

.exports li span:first-child a {
    margin-bottom:10px;
}


#foot {
  padding: 10px 10px;
  color: #aaa;
  text-align: right;
}

#foot a {
  color: #888;
}


#facebox form p.location input {
  text-align: center;
  width: 40px;
}

#facebox form p {
  overflow: hidden;
  padding: 2px 0;
}

#facebox form label {
  float: left;
  width: 70px;
  text-align: right;
  padding: 5px 5px 0 0;
}

#facebox form input[type="text"],
#facebox form input[type="password"] {
  float: left;
  border: 1px solid #ccc;
  padding: 3px 5px;
  width: 250px;
}
#facebox form select {
  float: left;
}

#facebox form span {
  float: left;
  padding: 5px 5px 0 5px;
}

#facebox form p.actions {
  text-align: center;
  padding-top: 10px;
}

#facebox form input[type="submit"] {
  border: 1px solid #204683;
  background: #5E75A0;
  color: #fff;
}

#facebox form a.cancel,
#facebox form a.custom {
  color: #555;
  padding: 0 4px;
}

#facebox form a.delete {
  color: #a00;
  padding: 0 4px;
}

#facebox form .radio {
  float: left;
  padding: 0;
}

#facebox form .radio input {
  float: left;
}

/*#facebox form label {
  float: left;
  text-align: left;
  width: 40px;
  line-height: 10px;
}*/

#facebox h3 {
  font-size: 15px;
  padding-bottom: 5px;
}

#facebox .form-notice {
  color: green;
  font-size: 12px;
  text-align: center;
  padding: 10px 0 0 0;
  position: absolute;
  top: 0;
  right: 30px;
/*  width: 200px;*/
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
}

#facebox .form-errors {
  color: red;
  text-align: center;
  padding: 5px;
  list-style: none;
}

#facebox textarea {
  width: 280px;
  display: block;
  margin: auto;
  height: 200px;
  border: 1px solid #ccc;
  padding: 3px 5px;
}

#facebox .settings {
  width: 600px;
  overflow: hidden;
}

#facebox .settings .schemes {
  width: 340px;
  float: left;
  overflow: hidden;
}


#facebox .color-scheme {
  width: 150px;
  float: left;
  background-color: #f5f5f5;
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
}


#facebox .color-scheme input[type="text"],
#facebox .color-scheme input[type="password"] {
  width: 50px;
}

#facebox #new_schedule {
  width: 641px;
}

#facebox .side {
  width: 300px;
  height: 300px;
  float: left;
  padding: 10px;

}
#facebox .right {
  border-left: 1px solid #ddd;
}

#facebox .side input[type="text"],
#facebox .side input[type="password"] {
  width: 200px;
}

#facebox .security_info {
  padding-top: 20px;
}

#howto {
  display: none;
}

#facebox .howto {
  width: 500px;
  padding: 10px 20px 20px 20px;
}

#picker-wrap {
  float: right;
  padding-right: 20px;
}

#picker-wrap h6 {
  margin-top: 30px;
}

#picker-wrap ul.menu {
  list-style: none;
}

#picker-wrap ul.menu li {
  padding: 5px 0 0 0;
}

a.button {
  border: 1px solid #204683;
  background: #5E75A0;
  color: #fff;
  text-decoration: none;
  padding: 2px 4px;
  display: inline-block;
  width: 70px;
  text-align: center;
}

* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

.ui-widget-content { border: 1px solid #dddddd; background: #fff; color: #333333; }
.ui-state-hover, .ui-state-focus {background: #6D84B4 ; font-weight: bold; color: #eee; padding: 0 1px; }

.ui-menu {
	list-style:none;
  padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
  margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
}

.fb_iframe_widget iframe {
  min-height: 350px !important;
}

.banner {
    width: 600px;
    height: 169px;
    background: url("/images/banner.png") no-repeat top left;
    margin: auto;
    display: block;
    /*text-align: center;*/
    /*background: #fff;*/
    margin: 0 auto 20px auto;
    padding: 0;
}

.banner a {
    display: block;
    height: 100px;
}

.banner a:hover {
    text-decoration: underline;
}

.banner a.small {
    font-size: 9pt;
    color: blue;
    display: block;
    padding-left: 270px;
    margin-top: -20px;
    text-decoration: underline;
    font-weight: normal;

}

        .meter {
            height: 60px;  /* Can be anything */
            position: relative;
            margin: 60px 0 20px 0; /* Just for demo spacing */
            background: #555;
            -moz-border-radius: 25px;
            -webkit-border-radius: 25px;
            border-radius: 25px;
            padding: 10px;
            -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
            -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
            box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
        }
        .meter > span {
            display: block;
            height: 100%;

               -webkit-border-top-right-radius: 8px;
            -webkit-border-bottom-right-radius: 8px;
                   -moz-border-radius-topright: 8px;
                -moz-border-radius-bottomright: 8px;
                       border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                -webkit-border-top-left-radius: 20px;
             -webkit-border-bottom-left-radius: 20px;
                    -moz-border-radius-topleft: 20px;
                 -moz-border-radius-bottomleft: 20px;
                        border-top-left-radius: 20px;
                     border-bottom-left-radius: 20px;
            background-color: rgb(43,194,83);

            background-image: url("/images/johnny.jpg");

            -webkit-box-shadow:
              inset 0 2px 9px  rgba(255,255,255,0.3),
              inset 0 -2px 6px rgba(0,0,0,0.4);
            -moz-box-shadow:
              inset 0 2px 9px  rgba(255,255,255,0.3),
              inset 0 -2px 6px rgba(0,0,0,0.4);
            box-shadow:
              inset 0 2px 9px  rgba(255,255,255,0.3),
              inset 0 -2px 6px rgba(0,0,0,0.4);
            position: relative;
            overflow: hidden;
        }
        .meter > span:after, .animate > span > span {
            content: "";
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            background-image:
               -webkit-gradient(linear, 0 0, 100% 100%,
                  color-stop(.25, rgba(255, 255, 255, .2)),
                  color-stop(.25, transparent), color-stop(.5, transparent),
                  color-stop(.5, rgba(255, 255, 255, .2)),
                  color-stop(.75, rgba(255, 255, 255, .2)),
                  color-stop(.75, transparent), to(transparent)
               );
            background-image:
                -moz-linear-gradient(
                  -45deg,
                  rgba(255, 255, 255, .2) 25%,
                  transparent 25%,
                  transparent 50%,
                  rgba(255, 255, 255, .2) 50%,
                  rgba(255, 255, 255, .2) 75%,
                  transparent 75%,
                  transparent
               );
            z-index: 1;
            -webkit-background-size: 50px 50px;
            -moz-background-size: 50px 50px;
            -webkit-animation: move 2s linear infinite;
               -webkit-border-top-right-radius: 8px;
            -webkit-border-bottom-right-radius: 8px;
                   -moz-border-radius-topright: 8px;
                -moz-border-radius-bottomright: 8px;
                       border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                -webkit-border-top-left-radius: 20px;
             -webkit-border-bottom-left-radius: 20px;
                    -moz-border-radius-topleft: 20px;
                 -moz-border-radius-bottomleft: 20px;
                        border-top-left-radius: 20px;
                     border-bottom-left-radius: 20px;
            overflow: hidden;
        }

        .animate > span:after {
            display: none;
        }

        @-webkit-keyframes move {
            0% {
               background-position: 0 0;
            }
            100% {
               background-position: 50px 50px;
            }
        }

        .orange > span {
            background-color: #f1a165;
            background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
            background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
        }

        .red > span {
            background-color: #f0a3a3;
            background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
            background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
        }

        .nostripes > span > span, .nostripes > span:after {
            -webkit-animation: none;
            background-image: none;
        }



h2.apl {
    padding: 0;
    margin: 0;
    text-align: center;
}

p.c {
    text-align: center;
}

.bank {
    font-size: 10pt;
    font-weight: bold;
    padding-top: 15px;
    width: 250px;
    margin: auto;
}

#avg {
  font-size: 8pt;
}

#avg input, #avg textarea {
  font:inherit;
}

#avg input::-moz-focus-inner {
  border:0;
  margin:0;
  padding:0;
}

#avg fieldset label {
  float:left;
  padding:6px;
  text-align:right;
  width:100px;
}

#avg fieldset textarea {
  border:1px solid #ccc;
  float:left;
  padding:3px;
  height:150px;
  width:540px;
}

#avg form .actions {
  padding-bottom:10px;
  padding-top:10px;
  overflow:hidden;
}

#avg form .actions input {
  -webkit-border-radius:4px;
  background-color:#4e4e4e;
  border:none;
  color:#f2f2f2;
  float:right;
  padding:5px 10px;
}

#avg #howto {
  display: block;
}

#avg #howto ul {
  line-height:15px;
  padding-left:20px;
}

#avg #howto ul li {
  list-style:decimal;
}

#avg table {
  border-collapse: collapse;
}
#avg table td, #avg table th {
  border: none;
  padding: 3px 3px 0 0;
}

#avg table td input {
  border:1px solid #ccc;
  padding:3px;
  width:200px;
}

#avg table td.avg {
  text-align: center;
  color:#1f75cc;
  font-size:11pt;
  font-weight:700;
  padding: 10px;
}

#avg table th.name { text-align: left; }
#avg table td.name input { width: 250px; }
#avg table td.ects input { width: 50px; text-align: center; margin: 0 0 0 5px;}
#avg table td.grade input { width: 50px; text-align: center; margin: 0 0 0 5px; }
#avg table td.name a { color: red;}
#avg table td.name a.f { color: #f5f5f5;}

#avg input.add {
  -webkit-border-radius:4px;
  background-color:#4e4e4e;
  border:none;
  color:#f2f2f2;
  padding:5px 10px;
}

#github {
  text-align: center;
}

