/*
dsize = 950 / num (190)
hsize = 48
*/

#schedule {
  width: 1007px; /* dsize*dnum + 57 */
}

#schedule_main {
  margin: auto;
  width: 1005px; /* (dsize+1)*dnum + 50 */
  border: 1px solid #ddd;
  overflow: hidden;
}

#schedule #days  {
  overflow: hidden;
  padding-left: 50px;
}

#schedule #days div {
  float: left;
  text-align: center;
  padding: 5px 0;
  width: 190px; /* dsize */
  border-left: 1px solid #ddd;
}

#schedule #hours {
  float: left;
  width: 50px;
  margin-top: -6px;
}

#schedule #hours div {
  text-align: center;
  width: 50px;
  height: 48px;
}

#schedule .day {
  width: 190px;
  height: 720px; /* hours.size * hsize */
  border-left: 1px solid #ddd;
  float: left;
  background: #eee;
  position: relative;
}

#schedule .entry {
  position: absolute;
  width: 100%;
}

#schedule .entry .wrap {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  -moz-border-radius: 5px;
  height: 100%;
  padding: 0 3px;
  overflow: hidden;
}

#schedule .entry .n { font-weight: bold; font-size: 11px;}

#schedule .sep {
  display: block;
  height: 47px;
  border-top: 1px solid #ddd;
}

#schedule .w_2 {
  width: 87px;
  margin-left: <%= @dsize / 2 %>px;
}

#schedule .w_1 {
  width: 87px;
}

#schedule .w_2_wider {
  width: 106px;
  margin-left: 76px;
}

#schedule .w_1_wider {
  width: 106px;
}

#schedule #legend {
  padding: 2px 0;
  float:left;
  width: 400px;
  padding-left: 51px;
}

#schedule #legend span {
  padding: 5px;
  float: left;
  margin-right: 2px;
}