%h3 Nowy plan zajęc
= form_for @schedule, :remote => true do |f|
  %p
    = f.text_area :raw
  %p.actions
    = f.submit "Wczytaj"
    lub
    = link_to "Utwórz ręcznie", schedules_path(:empty => true), :remote => true, "data-method" => "post", :class => "custom", :id => "new-empty-schedule"
