%h2 Twój plan

= render :partial => "schedule"
= link_to "Dodaj nowy kurs", [:new, @schedule, :entry], :rel => "facebox"

/ = link_to "HTML", schedule_path(@schedule.hash, :format => "html")
/ = link_to "PDF", schedule_path(@schedule.hash, :format => "pdf")
