#home
  %p.info
    %h2.apl Użytkownicy plan-pwr.pl!

  %p.info
    Wielkimi krokami, nieuchronnie zbliża się kolejny semestr.

  %p.info
    W związku z powyższym oraz ze wzmożoną aktywnością użytkowników generatora planu w ostatnim czasie, zwracam się z prośbą.
    Jak zapewne wiecie utrzymanie każdej, nawet najprostszej strony internetowej kosztuje. Dzięki uprzejmości moich znajomych udaje się pominąc koszty utrzymania serwera.
    Jednak znacznym wydatkiem będzie dla mnie przedłużenie domeny plan-pwr.pl. Wspólnymi siłami możemy sprawić, że to wspaniałe narzędzie będzie nadal służyć nam oraz młodszym koleżankom i kolegom.

  %p.info
    Serwis prowadzę bezinteresowanie - brak reklam, smsów, popupów, pornoli itp.
    %br
    Nie liczę na wiele, każdy grosz będzie pomocny. Pamiętaj, że teraz również ty możesz stać się częścią zespołu plan-pwr.pl!

  %p.info
    Poniższy pasek postępu prezentuje procentową ilość pozyskanych środków. Im więcej flaszek, tym bliżej sukcesu!

  %p.info
    Dowolne kwoty proszę przekazywać na poniższe konto bankowe:

  .bank
    Tymon Tobolski
    %br
    85 2490 1044 0000 4200 7245 5851


  %a.back{:href => "/home"} Idź do strony głównej
