#home
  %p.info
    %h2.apl UWAGA

  %p.info
    Zaprzestałem rozwijania serwisu ze względu na brak czasu.
    Jako, że nadal uważam inicjatywy studenckie za słuszne i potrzebne
    serwis w obecnej postaci będzie jeszcze funkcjonował przez jakiś czas.

  %p.info
    Niestety utrzymanie ruchu aplikacji wymaga stałego nadzoru oraz wprowadzania
    poprawek. W związku z tym poszukuję ludzi, którzy mogą przejąć moje obowiązki
    w zakresie obłsugi plan-pwr.pl. Jest to jedyna możliwość utrzymania tej pomocnej
    aplikacji przy życiu. Wszelkie pytanie oraz propozycje prosze kierować
    na adres i@teamon.eu.

  %p.info{:style => "text-align: right"}
    Ze studenckim pozdrowieniem
    %br
    %br
    Tymon Tobolski
    %br
    Pomysłodawca i twórca plan-pwr.pl


  %p.info

  %a.back{:href => "/home"} Idź do strony głównej
